* {
    box-sizing: border-box;
    margin: 0px;
    /* 위쪽 끝, 왼쪽 끝 없앰 */
}
.background {
    width: 1024px;
    height: 600px;
    background-image: url("../images/background.png");
    padding: 20px 0px 0px 20px;
    /* 내부 여백 위, 우측, 아래, 왼쪽 (시계방향) */
}
.outer_box {
    width: 800px;
    height: 544px;
    background-image: url("../images/outer_box.png");
}
.wrapper{
    display: flex;
    flex-direction: row;
    padding: 32px 0px 0px 32px;
}
.wrapper__left{
    width: 208px;
    height: 472px;
    display: flex;
    flex-direction: column;
}
.wrapper__left__header{
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.today {
    font-size: 9px;
}
.wrapper__left__body{
    width: 100%;
    height: 100%;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 30px;
}
.left__body__header{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.left__body__header__gray{
    width: 148px;
    height: 133px;
    background-color: #c4c4c4;
}
.left__body__header__line{
    border-top: 1px dotted black;
     margin: 12px 0px;
/* 두개만 쓸경우, 상하, 좌우*/
}
.left__body__profile{
    width: 100%;
    height: 72px;
    display: flex;
    flex-direction: column;
}
.left__body__profile__box{
    width: 100%;
    height: 61px;
    font-family: 'Malgun Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 12px;

    color: #999999;
}
.left__body__footer{
    width: 100%;
    height: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-direction:column;
    justify-content: end;
    align-items: center;
}
.wrapper__feel{
    width: 100%;
    height: 41px;
    display: flex;
    flex-direction: column;


}
.feel__title{
    font-family: 'Malgun Gothic';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    color : gray;
    margin-bottom: 2px;
}
.wrapper__right{
    width: 524px;
    height: 472px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-left: 5px;
}
.wrapper__right__header{
    width: 510px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 14px;
    align-items: flex-end;
}
.right__header__title, .right__header__setting{
    color: #55B2E4;
    font-size: 9px;
    
}
.right__header__title{
    font-size: 16px;
}
.wrapper__right__body{
    width: 510px;
    height: 445px;
    border: 1px solid gray;
    border-radius: 15px;
    background-color: white;
}
iframe{
    width: 100%;
    height: 100%;
    border: none;
}

.navigation{
    width: 62px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    left: 774px;
    top: 110px;
}

.navigation__item{
    width: 60px;
    height: 30px;
    background-color: #298eb5;
    border: 1px solid black;
    color: white;
    /* 왼쪽 상단부터 */
    border-radius : 0px 10px 10px 0px;
    font-size: 10px;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
}