* {
    box-sizing: border-box;
    margin: 0px;
}
html, body{
    width: 100%;
    height: 100%;
}
.wrapper{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
}
.wrapper__header{
    width: 464px;
    height: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 8px;
}
.title{
    font-size: 13px;
    font-weight: 700;
    padding-right: 5px;
    color: #55B2E4;
}
.subtitle{
    font-size: 8px;
}
.divideLine {
    width:464px;
    border-top: 1px solid gray;
}
.wrapper__mid{

}
.wrapper__mid__box{
    width: 464px;
    height: 178px;
    display: flex;
    justify-content: space-around;
}
.mid__box{
    width: 120px;
    height: 158px;
    display: flex;
    flex-direction: column;
    margin-top:20px;
}
.box__title{
    font-family: 'Malgun Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    margin-top: 10px;

color: #0F465E;
}
.box__subtitle{
    font-family: 'Malgun Gothic';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    color: #999999;
}

.wrapper__bot{
    width: 464px;
    height: 146px;
    margin:42px;
    display: flex;
    flex-direction: column;
}
.wrapper__bot__title{
    width: 464px;
    height: 25px;
    display: flex;
    align-items: flex-end;
    margin-bottom: 8px;
    
}
.albumTable{
    width: 464px;
    height: 121px;
    display: flex;
    flex-direction: column;
    background-color: #0F465E;
}